<%- include('header') %>

<div class="container">
    <h1>Add Resource to Learnlist: <%= learninglistdata.learnlist_title %></h1>
    <div class="learnlist-info">
        <p><img src="<%= learninglistdata.img_url %>" alt="Learnlist Image"></p>
    </div>

    <!-- Add resource form -->
    <form action="/add-resource" method="post">
        <input type="hidden" name="learnlist_id" value="<%= learninglistdata.learnlist_id %>">
        
        <label for="title">Resource Title:</label>
        <input type="text" id="title" name="title" required>
        <br>
        
        <label for="url">Resource URL:</label>
        <input type="text" id="url" name="url" required>
        <br>
        
        <label for="res_type">Resource Type:</label>
        <select id="res_type" name="res_type" required>
            <option value="video">Video</option>
            <option value="pdf">PDF</option>
            <option value="webpage">Webpage</option>
            <option value="other">Other</option>
        </select>
        <br>
        
        <button type="submit">Add Resource</button>
    </form>
</div>

<%- include('footer') %>
