<%- include('header') %>

<div class="nice hero">
    <h1>Browse our Video Tutorials</h1>

    <h3>Looking for something specific? Use the search function!</h3>
    <input type="text" id="searchInput" placeholder="Search for videos...">

    <div class="nice">
        <h5>Videos</h5>

        <div class="flex-container" id="browseVideosContainer">
            <% browsevideosdata.forEach((VideoTutorial) => { %>
                <div class="video-item">
                    <h2><%= VideoTutorial.title %></h2>
                    <p><%= VideoTutorial.subject_topic %></p>

                <iframe width="320" height="240"
                     src="<%= VideoTutorial.url %>"
                </iframe>
                </div>
            <% }); %>
        </div>
        <p id="noResultsMessage" style="display:none;">No Videos found. Why not be the first to upload?</p>
    </div>
</div>

<%- include('footer') %>

<script src="searchvideos.js"></script>
