<%- include('header') %>

<div class="nice hero">
    <h1>Browse OUR Lists</h1>
    <h3>Remember to share the word!</h3>
    
    <div class="nice">
        <h5>Learning Lists:</h5>

        <div class="flex-container">
            <% learninglistdata.forEach((Learnlist) => { %>
                <div class="learning-list-item">
                    <div class="list-item-card">
                        <div class="list-item-header">
                            <h2><%= Learnlist.title %></h2>
                        </div>
                        <div class="list-item-content">
                            <img src="<%= Learnlist.img_url %>" alt="<%= Learnlist.title %> Image" class="list-item-image">
                            <p><%= Learnlist.description %></p>
                            <p>Rating: <%= Learnlist.rating %></p>
                            <a class="btn btn-outline-info" href="/learninglists?id=<%= Learnlist.learnlist_id %>">View Details</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<%- include('footer') %>
