<%- include('header') %>

<body>
    <h1>Welcome, <%= userdata.username %>!</h1>

    <% if (userdata) { %>
        <div class="profile-card">
            <% if (userdata.profile_picture) { %>
                <img src="<%= userdata.profile_picture %>" alt="Profile Picture" class="profile-picture">
            <% } %>
            <div class="profile-data">
                <label>Username:</label> <%= userdata.username %><br>
                <label>City:</label> <%= userdata.city %><br>
                <label>Occupation:</label> <%= userdata.occupation %><br>
                <label>Interests:</label>
                <div class="profile-interests">
                    <ul>
                        <% if (Array.isArray(userdata.interests) && userdata.interests.length > 0) { %>
                            <% userdata.interests.forEach(interest => { %>
                                <li><%= interest %></li>
                            <% }); %>
                        <% } else { %>
                            <li>No interests listed</li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <button onclick="location.href='/edit-profile?id=<%= userdata.user_id %>'" class="edit-button">Edit Profile</button>
            <button onclick="location.href='/delete-account'" class="delete-button">Delete Account</button>
        </div>
    <% } else { %>
        <p>No user data available</p>
    <% } %>

    <% if (favouritesdata && favouritesdata.length > 0) { %>
        <div class="profile-card">
            <h2>Favourited Learning Lists</h2>
            <% favouritesdata.forEach(list => { %>
                <div class="profile-data">
                    <label>Title:</label> <%= list.title %><br>
                    <label>Subject/Topic:</label> <%= list.subject_topic %><br>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>No favourited learning lists found</p>
    <% } %>

    <% if (mylistsdata && mylistsdata.length > 0) { %>
        <div class="profile-card">
            <h2>Created Learning Lists</h2>
            <% mylistsdata.forEach(list => { %>
                <div class="profile-data">
                    <label>Title:</label> <%= list.title %><br>
                    <label>Subject/Topic:</label> <%= list.subject_topic %><br>
                    <label>Description:</label> <%= list.description %><br>
                    <label>Rating:</label> <%= list.rating %><br>
                    <label>Image URL:</label> <%= list.img_url %><br>
                    <button onclick="location.href='/add-resource?id=<%= list.learnlist_id %>'" class="edit-button-3">Add Resource</button>
                    <button onclick="location.href='/edit-profile'" class="edit-button-2">Delete Learnlist</button>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>No created learning lists found</p>
    <% } %>

</body>

<%- include('footer') %>
